﻿@model List<EC_TH2012_J.Models.Thanhviennhom>
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<div class="oauth">
    <h4>Thông tin liên hệ</h4>
    <hr />
   <span><b>Địa chỉ:</b>  Số 237, p.12 Phan Đình Phùng Q.Phú Nhuận, TP.HCM</span>
  <br/>
   <span><b>Điện thoại: </b>  0963152122</span>
   <br/>
  <span><b>Email: </b>  htuong@gmail.com</span>
</div>

